@import "./styles/variables.scss";

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.soon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  @media (min-width: 1050px) {
    gap: 2rem;
    flex-direction: row;
  }

  @media (max-width: 1050px) {
    flex-direction: column;
  }

  .title {
    font-weight: 400;
    color: $primary-yellow;
    display: flex;
    flex-direction: column;

    @media (min-width: 1050px) {
      flex: 1;
      text-align: right;
      font-size: 5rem;
      line-height: 2.8rem;
    }

    @media (max-width: 1050px) {
      text-align: center;
      font-size: 3rem;
      line-height: 1.8rem;
    }

    :nth-child(2) {
      color: $primary-pink;
      font-style: italic;
    }
  }

  .contact {
    letter-spacing: 0.1rem;
    display: flex;
    padding-top: 1rem;
    flex-direction: column;

    @media (min-width: 1050px) {
      gap: 1rem;
      flex: 1;
    }

    @media (max-width: 1050px) {
      align-items: center;
    }

    .email {
      display: flex;
      cursor: pointer;
      transition: linear all 0.3s;
      font-size: 1.1rem;

      @media (min-width: 1050px) {
        padding-bottom: 1rem;
        border-bottom: 0.2rem double $primary-pink;

        &:hover {
          letter-spacing: 0.15rem;
        }
      }

      @media (max-width: 1050px) {
        border-bottom: 0.15rem solid $background;

        &:hover {
          border-bottom: 0.15rem solid $primary-yellow;
        }
      }
    }

    .links {
      font-size: 1rem;
      display: flex;
      gap: 1rem;
      align-items: center;

      .social {
        cursor: pointer;
        transition: linear all 0.3s;
        border-bottom: 0.15rem solid $background;

        &:hover {
          border-bottom: 0.15rem solid $primary-yellow;
        }
      }

      .divider {
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 1rem;

        &:nth-of-type(odd) {
          background-color: $primary-yellow;
        }

        &:nth-of-type(even) {
          background-color: $primary-pink;
        }
      }
    }
  }
}
